<?xml version="1.0" encoding="UTF-8"?>
<!-- @author deelaka -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<test thread-count="5" name="AccountTest" parallel="classes">
		<classes>
			<class name="Model.AccountTest" />
		</classes>
	</test>
	<test thread-count="5" name="PlayerTest" parallel="classes">
		<classes>
			<class name="Model.PlayerTest" />
		</classes>
	</test>
	<test thread-count="5" name="BrokerTest" parallel="classes">
		<classes>
			<class name="Model.BrokerTest" />
		</classes>
	</test>
	<test thread-count="5" name="StockTest" parallel="classes">
		<classes>
			<class name="Model.StockTest" />
		</classes>
	</test>
</suite> 
